.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  padding: 1rem 2rem;
}

.jumbotron {
  margin-top: 10rem;
}

.panel {
  border: none;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.panel-body {
  padding: 15px;
}

.ReactModal__Content {
  padding: 0 !important;
}

.modal-close-btn {
  z-index: 1000;
  position: relative;
}

.video-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
